<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	" default-lazy-init="true">

	<!-- 
		<bean id="coreDao" class="com.hua.dao.impl.CoreDaoImpl" autowire="byType">
			<property name="jdbcTemplate" ref="jdbcTemplate" />
		</bean> 
	-->

	<!-- CoreDao -->
	<bean id="coreDao" class="com.hua.dao.impl.CoreDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
	</bean>
	
	<!-- PersonDao -->
	<bean id="personDao" class="com.hua.dao.o2o.impl.PersonDaoImpl" parent="coreDao">
	</bean>

	<!-- 
	parent 指定父类-在IOC容器中建立父子关系，否则父类之前注入的jdbcTemplate将无法获取
	<bean id="personDao" class="com.hua.dao.o2o.impl.PersonDaoImpl" parent="coreDao">
	</bean>	
	 -->




</beans>
